
<div class="bg-fond_gris h-screen">
<div class="bg-fond_blue grid grid-cols-3 gap-4 h-12 items-center" >
<div></div>
<div>
  <h2 class="font-bold text-stone-300 text-lg" >CATEGORIES</h2>
</div>
<div class="flex justify-end px-2.5">
  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "font-bold text-stone-300 text-lg" %>
</div>


</div>

<div class="p-2">
  <% if @groups %>
    <% @groups.each do |group| %>
    <div class="md:max-w-xl bg-white shadow-lg mt-1.5">
    <a href = "/users/<%= group.user_id %>/groups/<%= group.id %>/expenses">
    <div class="grid grid-cols-5  h-1/6 items-center ">
      <div class=""> 
       <%= image_tag "#{group.icon}.png", style: 'height:40px; width:auto;' %>  
      </div>
        <div class="flex flex-col gap-1  col-span-3 text-text_gray_1">
        <p><%= group.name%></p>
        <p><%= group.user_name(group.user_id) %> </p>
        </div>

      <div class="font-bold text-text_gray " > Total: $<%= group.total_spent(group.id)%></div>
    </div>
    </a>
    </div>
    <% end %>

  <% end %>
</div>

  <div class="m-2.5">
    <%= link_to 'ADD A NEW CATEGORY', new_user_group_path(current_user), :class => "inline-block px-6 py-2.5 bg-fond_blue text-stone-300 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" %>
  <div>

</div>






