  <%= form_with(model: @group, url: user_groups_path) do |f| %>

  <div >
    <div>
      <%= link_to  :back do %>
        <%= image_tag "back.svg", style: 'height:10px; width:auto;' %>
      <% end  %>
    </div>
    <h2> NEW CATTEGORY</h2>
    <div class="actions">
      <%=  f.submit ('NEXT') %>
    </div>
  </div>

    <div class= "form-group-custom" >
      <%= f.text_field :name, placeholder: "Enter category name", autofocus: true %>
    </div>

    <div class= "form-group-custom" >
      <%= f.label :icon, "Select label for an icon:" %>
      <%= f.select  :icon, ["Education", "Entertainment", "Healthcare", "Shopping", "Utilities", "Other" ] %>
    </div>
    
  <div>
    <div>
        <%=  f.submit ('SUBMIT') %>
      </div> 
    </div> 
  </div> 
  
  <% end %>
